
.env
serviceAccountKey.json


__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# 📦 Entornos virtuales
venv/
env/
ENV/
.venv/
.ENV/


*.log
*.sqlite3
*.db
*.bak


.DS_Store
Thumbs.db


.vscode/
*.code-workspace


pip-wheel-metadata/
*.egg-info/
dist/
build/
